.received {
  display: flex;
  align-items: center;
  z-index: 5;
  width: 100%;
  .container {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .6;
    animation-name: appearanceContainer;
    animation-duration: 3s;
    z-index: 3;
  }
  &Content {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: absolute;
    width: 400px;
    height: 250px;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    animation-name: appearanceContent;
    animation-duration: 0.8s;
    border: 3px solid #555;
    font-size: 29px;
    color: #019Aff;
    background-color: #E6E6E6;
    @media (max-width: 768px) {
      width: 250px;
      height: 150px;
      font-size: 25px;
    }
    @media (max-width: 400px) {
      top: 45%;
    }
    &__Button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      width: 300px;
      height: 70px;
      margin: 20px 0 0;
      color: #FFF;
      font-size: 25px;
      cursor: pointer;
      transition: all 0.2s ease;
      background: #019Aff;
      &:hover {
        transition: all 0.4s ease;
        opacity: .6;
      }
      @media (max-width: 768px) {
        width: 200px;
        height: 50px;
      }
    }
  }
}

@keyframes appearanceContent {
  0% {
    opacity: 0;
    margin: -300px 0 0 0;
  }
  100% {
    opacity: 1;
    margin: 0 0 0 0;
  }
}

@keyframes appearanceContainer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .6;
  }
}