.inOrder {
  z-index: 2;
  width: 250px;
  animation-name: appear;
  animation-duration: 1.2s;

  .product {
    &Edit {
      &_InOrder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        @media (max-width: 1024px) {
          width: 200px;
        }
      }
    }

    &Img {
      width: 250px;
      height: 180px;
      @media (max-width: 1024px) {
        width: 200px;
        height: 150px;
      }
    }

    &Info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row;
    }
  }
  @media (max-width: 1024px) {
    width: 200px;
  }
}

.inProductsPanel {
  width: 240px;
  padding: 0 15px;

  .productImg {
    width: 240px;
    height: 180px;
    @media (max-width: 560px) {
      width: 150px;
      height: 120px;
    }
  }
  @media (max-width: 560px) {
    width: 150px;
  }
}

.inCart {
  width: 400px;
  padding: 20px 0;
  display: flex;
  @media (max-width: 768px) {
    width: 200px;
  }
  @media (max-width: 425px) {
    flex-flow: column;
  }

  .product {
    &Img {
      width: 400px;
      height: 320px;
      @media (max-width: 768px) {
        width: 200px;
        height: 200px;
      }
    }

    &Edit {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-flow: column;
      margin: 0 0 0 20px;

      &__InCart {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 0 0;
        width: 185px;
      }

      &__Delete {
        padding: 0;
      }
    }

    &Info {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-flow: column;
      font-size: 25px;
      width: 300px;
      @media (max-width: 768px) {
        font-size: 20px;
        width: 160px;
      }
    }
  }

}

.product {
  display: flex;
  flex-flow: column;
  margin: 20px auto;

  &Name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    font-size: 25px;
  }

  &Img {
    margin: 0 0 5px 0;
    border-radius: 10px;
  }

  &Info {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: column;
    font-size: 22px;
    font-family: 'Actor', serif;
    margin: 0 0 10px 0;
  }

  &Button {
    width: 100%;
    height: 40px;
    background-color: #FFF;
    outline: none;
    border-radius: 10px;
    border: 1px solid #555;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;

    @media (max-width: 560px) {
      font-size: 15px;
    }

    &:disabled {
      background-color: #AAA;
      &:hover {
        background-color: #AAA;
        opacity: 1;
      }
    }

    &:hover {
      opacity: .6;
      background-color: #555;
      transition: all 0.4s ease;
    }
  }

  &Edit {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__Delete {
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        opacity: .6;
        transition: all 0.4s ease;
      }
    }

    &__Count {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 89px;
      height: 40px;
      border-radius: 16px;
      border: 1px solid #555;
      transition: all 0.2s ease;

      &Sign {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        font-size: 25px;
        cursor: pointer;
        color: #555;

        &_Minus {
          border-radius: 15px 0 0 15px;
        }

        &_Plus {
          border-radius: 0 15px 15px 0;
        }

        button {
          width: 44px;
          height: 40px;
          cursor: pointer;
          font-size: 20px;
          transition: all 0.2s ease;

          &:hover {
            opacity: .4;
            background-color: #555;
            transition: all 0.2s ease;
          }
        }
      }

      &Separation {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 45px;
        font-size: 25px;
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}