.order {
  display: flex;
  z-index: 1;

  &Block {
    margin: 0 20px;

    &__Header {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      color: #019Aff;
    }
  }

  &Products {
    width: 65%;
    @media (max-width: 768px) {
      width: 50%;
    }
    @media (max-width: 550px) {
      width: 100%;
    }
  }

  &Goods {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin: 20px 0 0 0;
    &__Result {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 30px;
      padding: 20px 0 0 20px;
      color: #333;
      @media (max-width: 768px) {
        font-size: 22px;
      }
    }
    &__NotSelected {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      color: #9C0000;
      margin: 50px 0 0 0;
      @media (max-width: 1024px) {
        font-size: 20px;
      }
      @media (max-width: 768px) {
        font-size: 20px;
        margin: 50px 0 0 15px;
      }
    }
  }

  &Selected {
    width: 34%;
    border-left: 1px solid #E6E6E6;
    @media (max-width: 768px) {
      width: 50%;
    }
    @media (max-width: 550px) {
      display: none;
    }
  }
}