.header {
  display: flex;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  height: 65px;
  background-color: #FFF;
  animation-name: appear;
  animation-duration: 0.8s;
  z-index: 12;

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 80px;
    @media (max-width: 768px) {
      padding: 0 20px;
    }
    @media (max-width: 375px) {
      padding: 0 5px;
    }
  }

  &Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    transition: all 0.2s ease;
    &:hover {
      opacity: .6;
      transition: all 0.4s ease;
    }

    &__Icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      border: 1px solid #019Aff;
      border-radius: 50%;
    }

    &__Name {
      font-size: 25px;
      color: #019Aff;
      @media (max-width: 375px) {
        font-size: 20px;
      }
    }
    @media (max-width: 375px) {
      width: 130px;
    }
  }

  &Info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 259px;
    height: 40px;
    border: 1px solid #019Aff;
    border-radius: 10px;
    @media (max-width: 768px) {
      width: 109px;
    }

    &:hover {
      opacity: .6;
      transition: all 0.4s ease;
    }
    
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 54px;
      height: 40px;
    }

    &__Cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 259px;
      cursor: pointer;
      transition: all 0.2s ease;
      @media (max-width: 768px) {
        width: 109px;
      }

      &Image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
      }

      &Separation {
        width: 1px;
        height: 35px;
        background-color: #019Aff;
      }

      &Count {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 204px;
        font-size: 19px;
        @media (max-width: 768px) {
          width: 54px;
        }
        &_Text {
          font-size: 17px;
          @media (max-width: 768px) {
            display: none;
          }
        }
        &_Number {
          margin: 0 0 0 10px;
        }
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}